# Virtualenv
# https://realpython.com/python-virtual-environments-a-primer/#the-virtualenv-project
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
dist
output
.env
bing_create.egg-info
__pycache__
node_modules
dist
.mypy_cache
.mira/mira.log
